**Nom : HASSANI Prénom : YOUMNA**

**PARTIE 1 : INPUT**

- Installation des librairies nécessaires

In [145]:
%pip install pandas
%pip install os

Requirement already satisfied: pandas in c:\users\youmn\appdata\local\programs\python\python311\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\youmn\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\youmn\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\youmn\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\youmn\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.4)
Requirement already satisfied: six>=1.5 in c:\users\youmn\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement os (from versions: none)
ERROR: No matching distribution found for os

[notice] A new release of pip available: 22.3 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

- 1. Importation des modules nécessaires

In [146]:
import pandas as pd
import os

-   2.Lire les fichiers csv

In [147]:
df1 = pd.read_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/stmp.csv')
print(df1)

df2 = pd.read_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/okcn.csv')
print(df2)

                 timestamp     price    amount
0      2021-02-24 23:59:54  49754.00  0.753000
1      2021-02-24 23:59:52  49754.00  0.116000
2      2021-02-24 23:59:52  49754.00  0.104000
3      2021-02-24 23:59:49  49754.00  0.016000
4      2021-02-24 23:59:45  49754.00  0.011000
...                    ...       ...       ...
53279  2021-02-24 00:00:37  48940.36  0.727027
53280  2021-02-24 00:00:37  48940.36  0.284797
53281  2021-02-24 00:00:37  48940.36  0.079944
53282  2021-02-24 00:00:37  48940.36  0.431515
53283  2021-02-24 00:00:35  48927.33  0.001108

[53284 rows x 3 columns]
                     timestamp     price  amount
0      2021-02-24 23:59:57.847  49724.93  0.0200
1      2021-02-24 23:59:49.743  49730.33  0.0200
2      2021-02-24 23:59:35.623  49706.87  0.0200
3      2021-02-24 23:59:04.494  49701.51  0.0025
4      2021-02-24 23:58:58.780  49735.60  0.0002
...                        ...       ...     ...
12454  2021-02-24 00:00:35.565  48927.14  0.1593
12455  2021-02-24 00:00:06.841  48925.54  0.0153
12456  2021-02-24 00:00:01.777  48920.36  0.0961
12457  2021-02-24 00:00:01.777  48914.29  0.1763
12458  2021-02-24 00:00:01.314  48906.05  0.0126

[12459 rows x 3 columns]

In [148]:
df3 = pd.read_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/lmax.csv')
print(df3)

df4 = pd.read_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/krkn.csv')
print(df4)

                     timestamp    price  amount
0      2021-02-24 23:59:59.691  49767.0    0.01
1      2021-02-24 23:59:42.786  49752.0    0.06
2      2021-02-24 23:59:42.785  49752.0    0.30
3      2021-02-24 23:59:42.785  49752.0    0.14
4      2021-02-24 23:59:42.046  49744.5    0.34
...                        ...      ...     ...
27967  2021-02-24 00:00:01.053  48896.5    0.47
27968  2021-02-24 00:00:01.053  48897.5    1.09
27969  2021-02-24 00:00:01.044  48896.0    0.53
27970  2021-02-24 00:00:01.025  48897.0    0.48
27971  2021-02-24 00:00:00.650  48892.5    0.70

[27972 rows x 3 columns]
                     timestamp    price    amount
0      2021-02-24 23:59:58.649  49727.7  0.000225
1      2021-02-24 23:59:49.807  49739.9  0.000224
2      2021-02-24 23:59:43.159  49736.3  0.014493
3      2021-02-24 23:59:37.773  49719.7  0.040000
4      2021-02-24 23:59:34.871  49730.3  0.001922
...                        ...      ...       ...
75085  2021-02-24 00:00:11.182  48899.8  0.023270
75086  2021-02-24 00:00:10.373  48899.9  0.200000
75087  2021-02-24 00:00:07.818  48899.9  0.018278
75088  2021-02-24 00:00:02.351  48899.9  0.002045
75089  2021-02-24 00:00:01.115  48899.6  0.018780

[75090 rows x 3 columns]

In [149]:
df5 = pd.read_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/itbi.csv')
print(df5)

df6 = pd.read_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/gmni.csv')
print(df6)

                     timestamp     price    amount
0      2021-02-24 23:59:48.157  49753.50  0.000100
1      2021-02-24 23:59:45.463  49753.75  0.000400
2      2021-02-24 23:59:38.887  49734.50  0.000100
3      2021-02-24 23:59:33.430  49731.25  0.002097
4      2021-02-24 23:59:32.240  49730.75  0.000182
...                        ...       ...       ...
30182  2021-02-24 00:00:11.593  48928.00  0.000061
30183  2021-02-24 00:00:10.223  48928.25  0.002034
30184  2021-02-24 00:00:10.073  48928.25  0.040183
30185  2021-02-24 00:00:10.073  48928.25  0.000489
30186  2021-02-24 00:00:03.650  48919.50  0.004068

[30187 rows x 3 columns]
                     timestamp     price    amount
0      2021-02-24 23:59:53.406  49773.07  0.003435
1      2021-02-24 23:59:53.406  49766.06  0.051690
2      2021-02-24 23:59:47.280  49746.16  0.122833
3      2021-02-24 23:59:47.280  49746.17  0.023913
4      2021-02-24 23:59:40.821  49730.12  0.000571
...                        ...       ...       ...
49324  2021-02-24 00:00:03.461  48934.30  0.002294
49325  2021-02-24 00:00:02.197  48934.30  0.000040
49326  2021-02-24 00:00:01.793  48923.48  0.160000
49327  2021-02-24 00:00:01.727  48923.49  0.030000
49328  2021-02-24 00:00:01.673  48923.48  0.070000

[49329 rows x 3 columns]

In [150]:
df7 = pd.read_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/cbse.csv')
print(df7)

df8 = pd.read_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/btrx.csv')
print(df8)

                      timestamp     price    amount
0       2021-02-24 23:59:59.873  49737.82  0.001440
1       2021-02-24 23:59:59.721  49737.82  0.000370
2       2021-02-24 23:59:59.121  49737.82  0.002940
3       2021-02-24 23:59:58.989  49737.82  0.000180
4       2021-02-24 23:59:58.853  49737.82  0.001940
...                         ...       ...       ...
489105  2021-02-24 00:00:00.520  48900.00  0.010668
489106  2021-02-24 00:00:00.218  48900.00  0.000305
489107  2021-02-24 00:00:00.097  48899.99  1.000000
489108  2021-02-24 00:00:00.027  48899.99  0.410000
489109  2021-02-24 00:00:00.010  48899.99  0.020000

[489110 rows x 3 columns]
                     timestamp      price    amount
0      2021-02-24 23:59:48.910  49742.749  0.001054
1      2021-02-24 23:59:35.050  49734.460  0.009038
2      2021-02-24 23:59:34.110  49751.270  0.000386
3      2021-02-24 23:59:31.440  49715.371  0.000554
4      2021-02-24 23:58:56.180  49751.379  0.000723
...                        ...        ...       ...
26784  2021-02-24 00:00:16.610  48894.609  0.005369
26785  2021-02-24 00:00:16.610  48903.051  0.002680
26786  2021-02-24 00:00:06.540  48894.606  0.001000
26787  2021-02-24 00:00:01.180  48894.606  0.002056
26788  2021-02-24 00:00:00.150  48906.607  0.003754

[26789 rows x 3 columns]

In [151]:
df9 = pd.read_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/bnus.csv')
print(df9)

df10 = pd.read_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/bfnx.csv')
print(df10)

                     timestamp     price    amount
0      2021-02-24 23:59:58.164  49714.50  0.004413
1      2021-02-24 23:59:57.547  49727.83  0.001496
2      2021-02-24 23:59:57.244  49727.83  0.002597
3      2021-02-24 23:59:54.691  49718.68  0.000860
4      2021-02-24 23:59:51.494  49713.76  0.003694
...                        ...       ...       ...
53667  2021-02-24 00:00:02.985  48877.75  0.061333
53668  2021-02-24 00:00:02.003  48901.99  0.005219
53669  2021-02-24 00:00:01.549  48907.33  0.039600
53670  2021-02-24 00:00:01.549  48903.30  0.000279
53671  2021-02-24 00:00:00.790  48875.00  0.002761

[53672 rows x 3 columns]
                      timestamp         price    amount
0       2021-02-24 23:59:58.181  49716.000000  0.010000
1       2021-02-24 23:59:58.176  49713.000000  0.005000
2       2021-02-24 23:59:51.526  49715.000000  0.005000
3       2021-02-24 23:59:46.698  49726.000000  0.005000
4       2021-02-24 23:59:46.353  49715.000000  0.005000
...                         ...           ...       ...
318662  2021-02-24 00:00:00.545  48859.000000  0.019646
318663  2021-02-24 00:00:00.545  48870.000000  0.000200
318664  2021-02-24 00:00:00.545  48871.668676  0.000004
318665  2021-02-24 00:00:00.536  48882.000000  0.000744
318666  2021-02-24 00:00:00.516  48882.000000  0.001240

[318667 rows x 3 columns]

In [152]:
df11 = pd.read_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/bfly.csv')
print(df11)

                   timestamp     price    amount
0    2021-02-24 23:59:33.720  49712.15  0.005400
1    2021-02-24 23:44:16.980  49603.44  0.077000
2    2021-02-24 22:32:39.320  48864.19  0.120000
3    2021-02-24 22:15:19.030  48252.47  0.120000
4    2021-02-24 22:15:17.157  48247.38  0.120000
..                       ...       ...       ...
229  2021-02-24 00:14:48.747  48263.33  0.250300
230  2021-02-24 00:11:03.583  48574.05  0.000245
231  2021-02-24 00:11:02.263  48574.05  0.001000
232  2021-02-24 00:05:08.513  48683.05  0.010000
233  2021-02-24 00:02:59.720  48929.54  0.120000

[234 rows x 3 columns]

In [153]:
# on réalise le shape pour connaître la dimension de chaque dataframe
# l'ensemble des fichiers csv transformé en dataframe ont 3 colonnes 
# ces colonnes sont dans le même ordre pour chaque dataframe :
# col1 = 'timestamp' ; col2 = 'price' ; col3 = 'amount'
# le nombre de lignes diffèrent d'un dataframe à un autre

print(df1.shape)
print(df2.shape)
print(df3.shape)
print(df4.shape)
print(df5.shape)
print(df6.shape)
print(df7.shape)
print(df8.shape)
print(df9.shape)
print(df10.shape)
print(df11.shape)

(53284, 3)
(12459, 3)
(27972, 3)
(75090, 3)
(30187, 3)
(49329, 3)
(489110, 3)
(26789, 3)
(53672, 3)
(318667, 3)
(234, 3)

In [154]:
# vérifions la présence de valeurs manquantes au sein du dataframe

# ** d'abord assurons nous du type de chaque colonne :
print(df1.info())
print(df2.info())
print(df3.info())
print(df4.info())
print(df5.info())
print(df6.info())
print(df7.info())
print(df8.info())
print(df9.info())
print(df10.info())
print(df11.info())

# commentaires :

# on remarque que pour l'ensemble des dataframes, les colonnes 
# 'price' et 'amount' sont des flottants et 'timestamp' est 
# un objet, sûrement la variable à convertir en format date

# ** désormais, comptons le nombre de valeurs manquantes par colonne
print(df1.isna().sum())
print(df2.isna().sum()) 
print(df3.isna().sum())
print(df4.isna().sum())
print(df5.isna().sum())
print(df6.isna().sum())
print(df7.isna().sum())
print(df8.isna().sum())
print(df9.isna().sum())
print(df10.isna().sum())
print(df11.isna().sum())

# l'ensemble des dataframes ne possèdent pas de valeurs manquantes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53284 entries, 0 to 53283
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  53284 non-null  object
 1   price      53284 non-null  float64
 2   amount     53284 non-null  float64
dtypes: float64(2), object(1)
memory usage: 1.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12459 entries, 0 to 12458
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  12459 non-null  object
 1   price      12459 non-null  float64
 2   amount     12459 non-null  float64
dtypes: float64(2), object(1)
memory usage: 292.1+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27972 entries, 0 to 27971
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  27972 non-null  object
 1   price      27972 non-null  float64
 2   amount     27972 non-null  float64
dtypes: float64(2), object(1)
memory usage: 655.7+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75090 entries, 0 to 75089
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  75090 non-null  object
 1   price      75090 non-null  float64
 2   amount     75090 non-null  float64
dtypes: float64(2), object(1)
memory usage: 1.7+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30187 entries, 0 to 30186
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  30187 non-null  object
 1   price      30187 non-null  float64
 2   amount     30187 non-null  float64
dtypes: float64(2), object(1)
memory usage: 707.6+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49329 entries, 0 to 49328
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  49329 non-null  object
 1   price      49329 non-null  float64
 2   amount     49329 non-null  float64
dtypes: float64(2), object(1)
memory usage: 1.1+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489110 entries, 0 to 489109
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   timestamp  489110 non-null  object
 1   price      489110 non-null  float64
 2   amount     489110 non-null  float64
dtypes: float64(2), object(1)
memory usage: 11.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26789 entries, 0 to 26788
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  26789 non-null  object
 1   price      26789 non-null  float64
 2   amount     26789 non-null  float64
dtypes: float64(2), object(1)
memory usage: 628.0+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53672 entries, 0 to 53671
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  53672 non-null  object
 1   price      53672 non-null  float64
 2   amount     53672 non-null  float64
dtypes: float64(2), object(1)
memory usage: 1.2+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318667 entries, 0 to 318666
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   timestamp  318667 non-null  object
 1   price      318667 non-null  float64
 2   amount     318667 non-null  float64
dtypes: float64(2), object(1)
memory usage: 7.3+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  234 non-null    object
 1   price      234 non-null    float64
 2   amount     234 non-null    float64
dtypes: float64(2), object(1)
memory usage: 5.6+ KB
None
timestamp    0
price        0
amount       0
dtype: int64
timestamp    0
price        0
amount       0
dtype: int64
timestamp    0
price        0
amount       0
dtype: int64
timestamp    0
price        0
amount       0
dtype: int64
timestamp    0
price        0
amount       0
dtype: int64
timestamp    0
price        0
amount       0
dtype: int64
timestamp    0
price        0
amount       0
dtype: int64
timestamp    0
price        0
amount       0
dtype: int64
timestamp    0
price        0
amount       0
dtype: int64
timestamp    0
price        0
amount       0
dtype: int64
timestamp    0
price        0
amount       0
dtype: int64

- 3. Conversion de la colonne 'timestamp' de type 'object' pour chaque dataframe

In [155]:
df1['timestamp'] = pd.to_datetime(df1['timestamp'])
df1.info() # pour vérifier la conversion de la date

df2['timestamp'] = pd.to_datetime(df2['timestamp'])
df2.info() # pour vérifier la conversion de la date

df3['timestamp'] = pd.to_datetime(df3['timestamp'])
df3.info() # pour vérifier la conversion de la date

df4['timestamp'] = pd.to_datetime(df4['timestamp'])
df4.info() # pour vérifier la conversion de la date

df5['timestamp'] = pd.to_datetime(df5['timestamp'])
df5.info() # pour vérifier la conversion de la date

df6['timestamp'] = pd.to_datetime(df6['timestamp'])
df6.info() # pour vérifier la conversion de la date

df7['timestamp'] = pd.to_datetime(df7['timestamp'])
df7.info() # pour vérifier la conversion de la date

df8['timestamp'] = pd.to_datetime(df8['timestamp'])
df8.info() # pour vérifier la conversion de la date

df9['timestamp'] = pd.to_datetime(df9['timestamp'])
df9.info() # pour vérifier la conversion de la date

df10['timestamp'] = pd.to_datetime(df10['timestamp'])
df10.info() # pour vérifier la conversion de la date

df11['timestamp'] = pd.to_datetime(df11['timestamp'])
df11.info() # pour vérifier la conversion de la date

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53284 entries, 0 to 53283
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  53284 non-null  datetime64[ns]
 1   price      53284 non-null  float64
 2   amount     53284 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 1.2 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12459 entries, 0 to 12458
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  12459 non-null  datetime64[ns]
 1   price      12459 non-null  float64
 2   amount     12459 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 292.1 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27972 entries, 0 to 27971
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  27972 non-null  datetime64[ns]
 1   price      27972 non-null  float64
 2   amount     27972 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 655.7 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75090 entries, 0 to 75089
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  75090 non-null  datetime64[ns]
 1   price      75090 non-null  float64
 2   amount     75090 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 1.7 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30187 entries, 0 to 30186
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  30187 non-null  datetime64[ns]
 1   price      30187 non-null  float64
 2   amount     30187 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 707.6 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49329 entries, 0 to 49328
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  49329 non-null  datetime64[ns]
 1   price      49329 non-null  float64
 2   amount     49329 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 1.1 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489110 entries, 0 to 489109
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   timestamp  489110 non-null  datetime64[ns]
 1   price      489110 non-null  float64
 2   amount     489110 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 11.2 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26789 entries, 0 to 26788
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  26789 non-null  datetime64[ns]
 1   price      26789 non-null  float64
 2   amount     26789 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 628.0 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53672 entries, 0 to 53671
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  53672 non-null  datetime64[ns]
 1   price      53672 non-null  float64
 2   amount     53672 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 1.2 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318667 entries, 0 to 318666
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   timestamp  318667 non-null  datetime64[ns]
 1   price      318667 non-null  float64
 2   amount     318667 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 7.3 MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   timestamp  234 non-null    datetime64[ns]
 1   price      234 non-null    float64
 2   amount     234 non-null    float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 5.6 KB

- 4. Vérification de la cohérence de nos données

In [156]:
filtred_df1 = df1[(df1['price'] > 0) & (df1['amount'] > 0)]
print(filtred_df1) # même nombre de lignes que df1, il n'y a donc pas de valeurs abberantes (53 284 lignes)

filtred_df2 = df2[(df2['price'] > 0) & (df2['amount'] > 0)]
print(filtred_df2) # même nombre de lignes que df2, il n'y a donc pas de valeurs abberantes (12 459 lignes)

filtred_df3 = df3[(df3['price'] > 0) & (df3['amount'] > 0)]
print(filtred_df3) # même nombre de lignes que df3, il n'y a donc pas de valeurs abberantes (27 972 lignes)

filtred_df4 = df4[(df4['price'] > 0) & (df4['amount'] > 0)]
print(filtred_df4) # même nombre de lignes que df4, il n'y a donc pas de valeurs abberantes (75 090 lignes)

filtred_df5 = df5[(df5['price'] > 0) & (df5['amount'] > 0)]
print(filtred_df5) # même nombre de lignes que df5, il n'y a donc pas de valeurs abberantes (30 187 lignes)

filtred_df6 = df6[(df6['price'] > 0) & (df6['amount'] > 0)]
print(filtred_df6) # même nombre de lignes que df6, il n'y a donc pas de valeurs abberantes (49 329 lignes)

filtred_df7 = df7[(df7['price'] > 0) & (df7['amount'] > 0)]
print(filtred_df7) # même nombre de lignes que df7, il n'y a donc pas de valeurs abberantes (489 110 lignes)

filtred_df8 = df8[(df8['price'] > 0) & (df8['amount'] > 0)]
print(filtred_df8) # même nombre de lignes que df8, il n'y a donc pas de valeurs abberantes (26 789 lignes)

filtred_df9 = df9[(df9['price'] > 0) & (df9['amount'] > 0)]
print(filtred_df9) # même nombre de lignes que df9, il n'y a donc pas de valeurs abberantes (53 672 lignes)

filtred_df10 = df10[(df10['price'] > 0) & (df10['amount'] > 0)]
print(filtred_df10) # même nombre de lignes que df10, il n'y a donc pas de valeurs abberantes (318 667 lignes)

filtred_df11 = df11[(df11['price'] > 0) & (df11['amount'] > 0)]
print(filtred_df11) # même nombre de lignes que df1, il n'y a donc pas de valeurs abberantes (234 lignes)

                timestamp     price    amount
0     2021-02-24 23:59:54  49754.00  0.753000
1     2021-02-24 23:59:52  49754.00  0.116000
2     2021-02-24 23:59:52  49754.00  0.104000
3     2021-02-24 23:59:49  49754.00  0.016000
4     2021-02-24 23:59:45  49754.00  0.011000
...                   ...       ...       ...
53279 2021-02-24 00:00:37  48940.36  0.727027
53280 2021-02-24 00:00:37  48940.36  0.284797
53281 2021-02-24 00:00:37  48940.36  0.079944
53282 2021-02-24 00:00:37  48940.36  0.431515
53283 2021-02-24 00:00:35  48927.33  0.001108

[53284 rows x 3 columns]
                    timestamp     price  amount
0     2021-02-24 23:59:57.847  49724.93  0.0200
1     2021-02-24 23:59:49.743  49730.33  0.0200
2     2021-02-24 23:59:35.623  49706.87  0.0200
3     2021-02-24 23:59:04.494  49701.51  0.0025
4     2021-02-24 23:58:58.780  49735.60  0.0002
...                       ...       ...     ...
12454 2021-02-24 00:00:35.565  48927.14  0.1593
12455 2021-02-24 00:00:06.841  48925.54  0.0153
12456 2021-02-24 00:00:01.777  48920.36  0.0961
12457 2021-02-24 00:00:01.777  48914.29  0.1763
12458 2021-02-24 00:00:01.314  48906.05  0.0126

[12459 rows x 3 columns]
                    timestamp    price  amount
0     2021-02-24 23:59:59.691  49767.0    0.01
1     2021-02-24 23:59:42.786  49752.0    0.06
2     2021-02-24 23:59:42.785  49752.0    0.30
3     2021-02-24 23:59:42.785  49752.0    0.14
4     2021-02-24 23:59:42.046  49744.5    0.34
...                       ...      ...     ...
27967 2021-02-24 00:00:01.053  48896.5    0.47
27968 2021-02-24 00:00:01.053  48897.5    1.09
27969 2021-02-24 00:00:01.044  48896.0    0.53
27970 2021-02-24 00:00:01.025  48897.0    0.48
27971 2021-02-24 00:00:00.650  48892.5    0.70

[27972 rows x 3 columns]
                    timestamp    price    amount
0     2021-02-24 23:59:58.649  49727.7  0.000225
1     2021-02-24 23:59:49.807  49739.9  0.000224
2     2021-02-24 23:59:43.159  49736.3  0.014493
3     2021-02-24 23:59:37.773  49719.7  0.040000
4     2021-02-24 23:59:34.871  49730.3  0.001922
...                       ...      ...       ...
75085 2021-02-24 00:00:11.182  48899.8  0.023270
75086 2021-02-24 00:00:10.373  48899.9  0.200000
75087 2021-02-24 00:00:07.818  48899.9  0.018278
75088 2021-02-24 00:00:02.351  48899.9  0.002045
75089 2021-02-24 00:00:01.115  48899.6  0.018780

[75090 rows x 3 columns]
                    timestamp     price    amount
0     2021-02-24 23:59:48.157  49753.50  0.000100
1     2021-02-24 23:59:45.463  49753.75  0.000400
2     2021-02-24 23:59:38.887  49734.50  0.000100
3     2021-02-24 23:59:33.430  49731.25  0.002097
4     2021-02-24 23:59:32.240  49730.75  0.000182
...                       ...       ...       ...
30182 2021-02-24 00:00:11.593  48928.00  0.000061
30183 2021-02-24 00:00:10.223  48928.25  0.002034
30184 2021-02-24 00:00:10.073  48928.25  0.040183
30185 2021-02-24 00:00:10.073  48928.25  0.000489
30186 2021-02-24 00:00:03.650  48919.50  0.004068

[30187 rows x 3 columns]
                    timestamp     price    amount
0     2021-02-24 23:59:53.406  49773.07  0.003435
1     2021-02-24 23:59:53.406  49766.06  0.051690
2     2021-02-24 23:59:47.280  49746.16  0.122833
3     2021-02-24 23:59:47.280  49746.17  0.023913
4     2021-02-24 23:59:40.821  49730.12  0.000571
...                       ...       ...       ...
49324 2021-02-24 00:00:03.461  48934.30  0.002294
49325 2021-02-24 00:00:02.197  48934.30  0.000040
49326 2021-02-24 00:00:01.793  48923.48  0.160000
49327 2021-02-24 00:00:01.727  48923.49  0.030000
49328 2021-02-24 00:00:01.673  48923.48  0.070000

[49329 rows x 3 columns]
                     timestamp     price    amount
0      2021-02-24 23:59:59.873  49737.82  0.001440
1      2021-02-24 23:59:59.721  49737.82  0.000370
2      2021-02-24 23:59:59.121  49737.82  0.002940
3      2021-02-24 23:59:58.989  49737.82  0.000180
4      2021-02-24 23:59:58.853  49737.82  0.001940
...                        ...       ...       ...
489105 2021-02-24 00:00:00.520  48900.00  0.010668
489106 2021-02-24 00:00:00.218  48900.00  0.000305
489107 2021-02-24 00:00:00.097  48899.99  1.000000
489108 2021-02-24 00:00:00.027  48899.99  0.410000
489109 2021-02-24 00:00:00.010  48899.99  0.020000

[489110 rows x 3 columns]
                    timestamp      price    amount
0     2021-02-24 23:59:48.910  49742.749  0.001054
1     2021-02-24 23:59:35.050  49734.460  0.009038
2     2021-02-24 23:59:34.110  49751.270  0.000386
3     2021-02-24 23:59:31.440  49715.371  0.000554
4     2021-02-24 23:58:56.180  49751.379  0.000723
...                       ...        ...       ...
26784 2021-02-24 00:00:16.610  48894.609  0.005369
26785 2021-02-24 00:00:16.610  48903.051  0.002680
26786 2021-02-24 00:00:06.540  48894.606  0.001000
26787 2021-02-24 00:00:01.180  48894.606  0.002056
26788 2021-02-24 00:00:00.150  48906.607  0.003754

[26789 rows x 3 columns]
                    timestamp     price    amount
0     2021-02-24 23:59:58.164  49714.50  0.004413
1     2021-02-24 23:59:57.547  49727.83  0.001496
2     2021-02-24 23:59:57.244  49727.83  0.002597
3     2021-02-24 23:59:54.691  49718.68  0.000860
4     2021-02-24 23:59:51.494  49713.76  0.003694
...                       ...       ...       ...
53667 2021-02-24 00:00:02.985  48877.75  0.061333
53668 2021-02-24 00:00:02.003  48901.99  0.005219
53669 2021-02-24 00:00:01.549  48907.33  0.039600
53670 2021-02-24 00:00:01.549  48903.30  0.000279
53671 2021-02-24 00:00:00.790  48875.00  0.002761

[53672 rows x 3 columns]
                     timestamp         price    amount
0      2021-02-24 23:59:58.181  49716.000000  0.010000
1      2021-02-24 23:59:58.176  49713.000000  0.005000
2      2021-02-24 23:59:51.526  49715.000000  0.005000
3      2021-02-24 23:59:46.698  49726.000000  0.005000
4      2021-02-24 23:59:46.353  49715.000000  0.005000
...                        ...           ...       ...
318662 2021-02-24 00:00:00.545  48859.000000  0.019646
318663 2021-02-24 00:00:00.545  48870.000000  0.000200
318664 2021-02-24 00:00:00.545  48871.668676  0.000004
318665 2021-02-24 00:00:00.536  48882.000000  0.000744
318666 2021-02-24 00:00:00.516  48882.000000  0.001240

[318667 rows x 3 columns]
                  timestamp     price    amount
0   2021-02-24 23:59:33.720  49712.15  0.005400
1   2021-02-24 23:44:16.980  49603.44  0.077000
2   2021-02-24 22:32:39.320  48864.19  0.120000
3   2021-02-24 22:15:19.030  48252.47  0.120000
4   2021-02-24 22:15:17.157  48247.38  0.120000
..                      ...       ...       ...
229 2021-02-24 00:14:48.747  48263.33  0.250300
230 2021-02-24 00:11:03.583  48574.05  0.000245
231 2021-02-24 00:11:02.263  48574.05  0.001000
232 2021-02-24 00:05:08.513  48683.05  0.010000
233 2021-02-24 00:02:59.720  48929.54  0.120000

[234 rows x 3 columns]

**PARTIE 2 : MANIPULATION DES DONNEES**

 - *Étape 1* : **Standardisation / Uniformisation des Noms de Colonnes**

Cette conversion vous permettra de profiter des fonctions de manipulation de dates et de temps de Pandas, facilitant ainsi des opérations comme le tri, le filtrage par date, la définition d'index temporels, et surtout, l'agrégation des données par intervalles de temps spécifiques.
En résumé, les types float pour price et amount sont adaptés pour vos calculs de VWAP, à condition de garder en tête les limitations de précision inhérentes aux flottants. Assurez-vous de convertir timestamp en datetime pour simplifier vos analyses temporelles.

In [157]:
# Liste des DataFrames et leurs suffixes correspondants
dataframes = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11]
suffixes = ["stmp", "okcn", "lmax", "krkn", "itbi", "gmni", "cbse", "btrx", "bnus", "bfnx", "bfly"]

# Renommage des colonnes pour chaque DataFrame
for df, suffix in zip(dataframes, suffixes):
    df.rename(columns={
        'timestamp': f'timestamp_{suffix}',
        'price': f'price_{suffix}',
        'amount': f'amount_{suffix}'
    }, inplace=True)

# Verification des Modifications sur l'ensemble des DataFrames
for df in dataframes:
    print(df.columns) # affiche les noms de colonnes
    print(df.info()) # affiche des informations détaillées, y compris les
    # types de chaque colonnes (surtout pour la colonne des dates)

# python n'affiche pas les 11 dataframes, mais les 11 ont été vérifiés
# d'abord j'ai effectué le code sans la boucle et tester pour chaque 
# dataframe

Index(['timestamp_stmp', 'price_stmp', 'amount_stmp'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53284 entries, 0 to 53283
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp_stmp  53284 non-null  datetime64[ns]
 1   price_stmp      53284 non-null  float64
 2   amount_stmp     53284 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 1.2 MB
None
Index(['timestamp_okcn', 'price_okcn', 'amount_okcn'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12459 entries, 0 to 12458
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp_okcn  12459 non-null  datetime64[ns]
 1   price_okcn      12459 non-null  float64
 2   amount_okcn     12459 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 292.1 KB
None
Index(['timestamp_lmax', 'price_lmax', 'amount_lmax'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27972 entries, 0 to 27971
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp_lmax  27972 non-null  datetime64[ns]
 1   price_lmax      27972 non-null  float64
 2   amount_lmax     27972 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 655.7 KB
None
Index(['timestamp_krkn', 'price_krkn', 'amount_krkn'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75090 entries, 0 to 75089
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp_krkn  75090 non-null  datetime64[ns]
 1   price_krkn      75090 non-null  float64
 2   amount_krkn     75090 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 1.7 MB
None
Index(['timestamp_itbi', 'price_itbi', 'amount_itbi'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30187 entries, 0 to 30186
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp_itbi  30187 non-null  datetime64[ns]
 1   price_itbi      30187 non-null  float64
 2   amount_itbi     30187 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 707.6 KB
None
Index(['timestamp_gmni', 'price_gmni', 'amount_gmni'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49329 entries, 0 to 49328
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp_gmni  49329 non-null  datetime64[ns]
 1   price_gmni      49329 non-null  float64
 2   amount_gmni     49329 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 1.1 MB
None
Index(['timestamp_cbse', 'price_cbse', 'amount_cbse'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489110 entries, 0 to 489109
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   timestamp_cbse  489110 non-null  datetime64[ns]
 1   price_cbse      489110 non-null  float64
 2   amount_cbse     489110 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 11.2 MB
None
Index(['timestamp_btrx', 'price_btrx', 'amount_btrx'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26789 entries, 0 to 26788
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp_btrx  26789 non-null  datetime64[ns]
 1   price_btrx      26789 non-null  float64
 2   amount_btrx     26789 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 628.0 KB
None
Index(['timestamp_bnus', 'price_bnus', 'amount_bnus'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53672 entries, 0 to 53671
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp_bnus  53672 non-null  datetime64[ns]
 1   price_bnus      53672 non-null  float64
 2   amount_bnus     53672 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 1.2 MB
None
Index(['timestamp_bfnx', 'price_bfnx', 'amount_bfnx'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318667 entries, 0 to 318666
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   timestamp_bfnx  318667 non-null  datetime64[ns]
 1   price_bfnx      318667 non-null  float64
 2   amount_bfnx     318667 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 7.3 MB
None
Index(['timestamp_bfly', 'price_bfly', 'amount_bfly'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp_bfly  234 non-null    datetime64[ns]
 1   price_bfly      234 non-null    float64
 2   amount_bfly     234 non-null    float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 5.6 KB
None

- *Étape 2* : **Indexation des DataFrames par les timestamps**

In [158]:
for df, suffix in zip(dataframes, suffixes):
    df.set_index(f'timestamp_{suffix}', inplace=True)

 - *Étape 3* : **Création de nouvelles colonnes de calcul pour le calcul du VWAP**, qui est une moyenne pondérée où les poids sont les volumes (ici représentés par 'amount') et les valeurs sont les prix.

In [159]:
# Ajout d'une colonne calculée pour chaque DataFrame
for df, suffix in zip(dataframes, suffixes):
    df[f'PjQj_{suffix}'] = df[f'price_{suffix}'] * df[f'amount_{suffix}'] #calcul de Pj*Qj (formule du sujet), nouvelle colonne ajoutee
    # qui représente le rpoduit du prix par la quantité (= volume) pour chaque transaction.
    print(f"Added PjQj for {suffix}: Top rows")
    print(df.head())  # Affiche les premières lignes pour vérifier nos calculs
    print(df.info())

Added PjQj for stmp: Top rows
                     price_stmp  amount_stmp  PjQj_stmp
timestamp_stmp
2021-02-24 23:59:54     49754.0        0.753  37464.762
2021-02-24 23:59:52     49754.0        0.116   5771.464
2021-02-24 23:59:52     49754.0        0.104   5174.416
2021-02-24 23:59:49     49754.0        0.016    796.064
2021-02-24 23:59:45     49754.0        0.011    547.294
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 53284 entries, 2021-02-24 23:59:54 to 2021-02-24 00:00:35
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price_stmp   53284 non-null  float64
 1   amount_stmp  53284 non-null  float64
 2   PjQj_stmp    53284 non-null  float64
dtypes: float64(3)
memory usage: 1.6 MB
None
Added PjQj for okcn: Top rows
                         price_okcn  amount_okcn   PjQj_okcn
timestamp_okcn
2021-02-24 23:59:57.847    49724.93       0.0200  994.498600
2021-02-24 23:59:49.743    49730.33       0.0200  994.606600
2021-02-24 23:59:35.623    49706.87       0.0200  994.137400
2021-02-24 23:59:04.494    49701.51       0.0025  124.253775
2021-02-24 23:58:58.780    49735.60       0.0002    9.947120
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 12459 entries, 2021-02-24 23:59:57.847000 to 2021-02-24 00:00:01.314000
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price_okcn   12459 non-null  float64
 1   amount_okcn  12459 non-null  float64
 2   PjQj_okcn    12459 non-null  float64
dtypes: float64(3)
memory usage: 389.3 KB
None
Added PjQj for lmax: Top rows
                         price_lmax  amount_lmax  PjQj_lmax
timestamp_lmax
2021-02-24 23:59:59.691     49767.0         0.01     497.67
2021-02-24 23:59:42.786     49752.0         0.06    2985.12
2021-02-24 23:59:42.785     49752.0         0.30   14925.60
2021-02-24 23:59:42.785     49752.0         0.14    6965.28
2021-02-24 23:59:42.046     49744.5         0.34   16913.13
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 27972 entries, 2021-02-24 23:59:59.691000 to 2021-02-24 00:00:00.650000
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price_lmax   27972 non-null  float64
 1   amount_lmax  27972 non-null  float64
 2   PjQj_lmax    27972 non-null  float64
dtypes: float64(3)
memory usage: 874.1 KB
None
Added PjQj for krkn: Top rows
                         price_krkn  amount_krkn    PjQj_krkn
timestamp_krkn
2021-02-24 23:59:58.649     49727.7     0.000225    11.187241
2021-02-24 23:59:49.807     49739.9     0.000224    11.145219
2021-02-24 23:59:43.159     49736.3     0.014493   720.815762
2021-02-24 23:59:37.773     49719.7     0.040000  1988.788000
2021-02-24 23:59:34.871     49730.3     0.001922    95.589593
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 75090 entries, 2021-02-24 23:59:58.649000 to 2021-02-24 00:00:01.115000
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price_krkn   75090 non-null  float64
 1   amount_krkn  75090 non-null  float64
 2   PjQj_krkn    75090 non-null  float64
dtypes: float64(3)
memory usage: 2.3 MB
None
Added PjQj for itbi: Top rows
                         price_itbi  amount_itbi   PjQj_itbi
timestamp_itbi
2021-02-24 23:59:48.157    49753.50     0.000100    4.969877
2021-02-24 23:59:45.463    49753.75     0.000400   19.899510
2021-02-24 23:59:38.887    49734.50     0.000100    4.969969
2021-02-24 23:59:33.430    49731.25     0.002097  104.271512
2021-02-24 23:59:32.240    49730.75     0.000182    9.050499
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 30187 entries, 2021-02-24 23:59:48.157000 to 2021-02-24 00:00:03.650000
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price_itbi   30187 non-null  float64
 1   amount_itbi  30187 non-null  float64
 2   PjQj_itbi    30187 non-null  float64
dtypes: float64(3)
memory usage: 943.3 KB
None
Added PjQj for gmni: Top rows
                         price_gmni  amount_gmni    PjQj_gmni
timestamp_gmni
2021-02-24 23:59:53.406    49773.07     0.003435   170.972521
2021-02-24 23:59:53.406    49766.06     0.051690  2572.405651
2021-02-24 23:59:47.280    49746.16     0.122833  6110.491960
2021-02-24 23:59:47.280    49746.17     0.023913  1189.577676
2021-02-24 23:59:40.821    49730.12     0.000571    28.408331
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 49329 entries, 2021-02-24 23:59:53.406000 to 2021-02-24 00:00:01.673000
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price_gmni   49329 non-null  float64
 1   amount_gmni  49329 non-null  float64
 2   PjQj_gmni    49329 non-null  float64
dtypes: float64(3)
memory usage: 1.5 MB
None
Added PjQj for cbse: Top rows
                         price_cbse  amount_cbse   PjQj_cbse
timestamp_cbse
2021-02-24 23:59:59.873    49737.82      0.00144   71.632408
2021-02-24 23:59:59.721    49737.82      0.00037   18.415428
2021-02-24 23:59:59.121    49737.82      0.00294  146.244112
2021-02-24 23:59:58.989    49737.82      0.00018    8.967729
2021-02-24 23:59:58.853    49737.82      0.00194   96.506292
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 489110 entries, 2021-02-24 23:59:59.873000 to 2021-02-24 00:00:00.010000
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   price_cbse   489110 non-null  float64
 1   amount_cbse  489110 non-null  float64
 2   PjQj_cbse    489110 non-null  float64
dtypes: float64(3)
memory usage: 14.9 MB
None
Added PjQj for btrx: Top rows
                         price_btrx  amount_btrx   PjQj_btrx
timestamp_btrx
2021-02-24 23:59:48.910   49742.749     0.001054   52.453231
2021-02-24 23:59:35.050   49734.460     0.009038  449.519943
2021-02-24 23:59:34.110   49751.270     0.000386   19.187075
2021-02-24 23:59:31.440   49715.371     0.000554   27.524418
2021-02-24 23:58:56.180   49751.379     0.000723   35.973730
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 26789 entries, 2021-02-24 23:59:48.910000 to 2021-02-24 00:00:00.150000
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price_btrx   26789 non-null  float64
 1   amount_btrx  26789 non-null  float64
 2   PjQj_btrx    26789 non-null  float64
dtypes: float64(3)
memory usage: 837.2 KB
None
Added PjQj for bnus: Top rows
                         price_bnus  amount_bnus   PjQj_bnus
timestamp_bnus
2021-02-24 23:59:58.164    49714.50     0.004413  219.390089
2021-02-24 23:59:57.547    49727.83     0.001496   74.392834
2021-02-24 23:59:57.244    49727.83     0.002597  129.143175
2021-02-24 23:59:54.691    49718.68     0.000860   42.758065
2021-02-24 23:59:51.494    49713.76     0.003694  183.642629
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 53672 entries, 2021-02-24 23:59:58.164000 to 2021-02-24 00:00:00.790000
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price_bnus   53672 non-null  float64
 1   amount_bnus  53672 non-null  float64
 2   PjQj_bnus    53672 non-null  float64
dtypes: float64(3)
memory usage: 1.6 MB
None
Added PjQj for bfnx: Top rows
                         price_bfnx  amount_bfnx  PjQj_bfnx
timestamp_bfnx
2021-02-24 23:59:58.181     49716.0        0.010    497.160
2021-02-24 23:59:58.176     49713.0        0.005    248.565
2021-02-24 23:59:51.526     49715.0        0.005    248.575
2021-02-24 23:59:46.698     49726.0        0.005    248.630
2021-02-24 23:59:46.353     49715.0        0.005    248.575
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 318667 entries, 2021-02-24 23:59:58.181000 to 2021-02-24 00:00:00.516000
Data columns (total 3 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   price_bfnx   318667 non-null  float64
 1   amount_bfnx  318667 non-null  float64
 2   PjQj_bfnx    318667 non-null  float64
dtypes: float64(3)
memory usage: 9.7 MB
None
Added PjQj for bfly: Top rows
                         price_bfly  amount_bfly   PjQj_bfly
timestamp_bfly
2021-02-24 23:59:33.720    49712.15       0.0054   268.44561
2021-02-24 23:44:16.980    49603.44       0.0770  3819.46488
2021-02-24 22:32:39.320    48864.19       0.1200  5863.70280
2021-02-24 22:15:19.030    48252.47       0.1200  5790.29640
2021-02-24 22:15:17.157    48247.38       0.1200  5789.68560
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 234 entries, 2021-02-24 23:59:33.720000 to 2021-02-24 00:02:59.720000
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   price_bfly   234 non-null    float64
 1   amount_bfly  234 non-null    float64
 2   PjQj_bfly    234 non-null    float64
dtypes: float64(3)
memory usage: 7.3 KB
None

**PARTIE 3 : CALCUL**

- *Étape 1* : **Agrégation des données pour le calcul de VWAP**

In [160]:
# On cree un dictionnaire pour stocker les DataFrames agrégés
hourly_vwap_dataframes = {}

for df, suffix in zip(dataframes, suffixes):
    hourly_data = df.resample('H').agg({ # agrégation sur une base horaire
        f'PjQj_{suffix}': 'sum',
        f'amount_{suffix}': 'sum'
    })

# Creation de la colonne VWAP dans le DataFrame agrégé : calcul du VWAP pour chaque heure
    hourly_data[f'VWAP_{suffix}'] = hourly_data[f'PjQj_{suffix}'] / hourly_data[f'amount_{suffix}']
    hourly_vwap_only = hourly_data[[f'VWAP_{suffix}']] # creation d'un nouveau DataFrame avec uniquement VWAP

# Stockage du DataFrame dans le dictionnaire
    hourly_vwap_dataframes[suffix] = hourly_vwap_only

# Afficher les premières lignes des données agrégées pour vérifier
    print(f"Hourly VWAP for {suffix}:")
    print(hourly_vwap_only.head())
    print(f"Shape of hourly data for {suffix}: {hourly_vwap_only.shape}") # permet de verifier le nombre de lignes et de colonnes
    # comme c'est un volume horaire, nous devons obtenir 24 lignes en principe...

# Combinaison de tous les DataFrames VWAP horaires en un seul DataFrame
combined_hourly_vwap_df = pd.concat(hourly_vwap_dataframes.values(), axis=1)

C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\3480064007.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').agg({ # agrégation sur une base horaire
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\3480064007.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').agg({ # agrégation sur une base horaire
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\3480064007.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').agg({ # agrégation sur une base horaire
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\3480064007.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').agg({ # agrégation sur une base horaire
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\3480064007.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').agg({ # agrégation sur une base horaire
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\3480064007.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').agg({ # agrégation sur une base horaire

Hourly VWAP for stmp:
                        VWAP_stmp
timestamp_stmp
2021-02-24 00:00:00  47944.262770
2021-02-24 01:00:00  49220.299732
2021-02-24 02:00:00  50283.555918
2021-02-24 03:00:00  50472.637817
2021-02-24 04:00:00  50987.941708
Shape of hourly data for stmp: (24, 1)
Hourly VWAP for okcn:
                        VWAP_okcn
timestamp_okcn
2021-02-24 00:00:00  47954.733900
2021-02-24 01:00:00  49422.816196
2021-02-24 02:00:00  50218.786802
2021-02-24 03:00:00  50435.243773
2021-02-24 04:00:00  51023.204299
Shape of hourly data for okcn: (24, 1)
Hourly VWAP for lmax:
                        VWAP_lmax
timestamp_lmax
2021-02-24 00:00:00  47880.958914
2021-02-24 01:00:00  49250.834067
2021-02-24 02:00:00  50227.852912
2021-02-24 03:00:00  50458.462794
2021-02-24 04:00:00  50851.638004
Shape of hourly data for lmax: (24, 1)
Hourly VWAP for krkn:
                        VWAP_krkn
timestamp_krkn
2021-02-24 00:00:00  47698.307100
2021-02-24 01:00:00  49179.026877
2021-02-24 02:00:00  50214.502350
2021-02-24 03:00:00  50537.044841
2021-02-24 04:00:00  50917.060833
Shape of hourly data for krkn: (24, 1)
Hourly VWAP for itbi:
                        VWAP_itbi
timestamp_itbi
2021-02-24 00:00:00  47772.255562
2021-02-24 01:00:00  49509.699420
2021-02-24 02:00:00  50260.294897
2021-02-24 03:00:00  50533.802903
2021-02-24 04:00:00  51019.753640
Shape of hourly data for itbi: (24, 1)
Hourly VWAP for gmni:
                        VWAP_gmni
timestamp_gmni
2021-02-24 00:00:00  47981.711507
2021-02-24 01:00:00  49458.079101
2021-02-24 02:00:00  50268.259968
2021-02-24 03:00:00  50494.398639
2021-02-24 04:00:00  50934.953286
Shape of hourly data for gmni: (24, 1)

C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\3480064007.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').agg({ # agrégation sur une base horaire

Hourly VWAP for cbse:
                        VWAP_cbse
timestamp_cbse
2021-02-24 00:00:00  47945.341624
2021-02-24 01:00:00  49317.201370
2021-02-24 02:00:00  50248.894775
2021-02-24 03:00:00  50498.142558
2021-02-24 04:00:00  50942.646520
Shape of hourly data for cbse: (24, 1)
Hourly VWAP for btrx:
                        VWAP_btrx
timestamp_btrx
2021-02-24 00:00:00  47861.252787
2021-02-24 01:00:00  49343.265805
2021-02-24 02:00:00  50264.128120
2021-02-24 03:00:00  50528.684300
2021-02-24 04:00:00  50914.284328
Shape of hourly data for btrx: (24, 1)
Hourly VWAP for bnus:
                        VWAP_bnus
timestamp_bnus
2021-02-24 00:00:00  47846.763010
2021-02-24 01:00:00  49196.187346
2021-02-24 02:00:00  50200.414314
2021-02-24 03:00:00  50523.291435
2021-02-24 04:00:00  50900.796481
Shape of hourly data for bnus: (24, 1)
Hourly VWAP for bfnx:
                        VWAP_bfnx
timestamp_bfnx
2021-02-24 00:00:00  47778.970482
2021-02-24 01:00:00  49441.592938
2021-02-24 02:00:00  50237.005036
2021-02-24 03:00:00  50608.443325
2021-02-24 04:00:00  50889.743300
Shape of hourly data for bfnx: (24, 1)
Hourly VWAP for bfly:
                        VWAP_bfly
timestamp_bfly
2021-02-24 00:00:00  48006.990396
2021-02-24 01:00:00  49607.923645
2021-02-24 02:00:00  50196.677303
2021-02-24 03:00:00  50948.000000
2021-02-24 04:00:00  50892.806229
Shape of hourly data for bfly: (24, 1)

C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\3480064007.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').agg({ # agrégation sur une base horaire
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\3480064007.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').agg({ # agrégation sur une base horaire
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\3480064007.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').agg({ # agrégation sur une base horaire
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\3480064007.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').agg({ # agrégation sur une base horaire

In [161]:
combined_hourly_vwap_df

,VWAP_stmp,VWAP_okcn,VWAP_lmax,VWAP_krkn,VWAP_itbi,VWAP_gmni,VWAP_cbse,VWAP_btrx,VWAP_bnus,VWAP_bfnx,VWAP_bfly
2021-02-24 00:00:00,47944.262770,47954.733900,47880.958914,47698.307100,47772.255562,47981.711507,47945.341624,47861.252787,47846.763010,47778.970482,48006.990396
2021-02-24 01:00:00,49220.299732,49422.816196,49250.834067,49179.026877,49509.699420,49458.079101,49317.201370,49343.265805,49196.187346,49441.592938,49607.923645
2021-02-24 02:00:00,50283.555918,50218.786802,50227.852912,50214.502350,50260.294897,50268.259968,50248.894775,50264.128120,50200.414314,50237.005036,50196.677303
2021-02-24 03:00:00,50472.637817,50435.243773,50458.462794,50537.044841,50533.802903,50494.398639,50498.142558,50528.684300,50523.291435,50608.443325,50948.000000
2021-02-24 04:00:00,50987.941708,51023.204299,50851.638004,50917.060833,51019.753640,50934.953286,50942.646520,50914.284328,50900.796481,50889.743300,50892.806229
2021-02-24 05:00:00,50440.124897,50399.457611,50473.959563,50421.092041,50416.281591,50528.602570,50513.989242,50537.358940,50383.987434,50344.152274,NaN
2021-02-24 06:00:00,49939.781897,49940.207735,50061.808328,49916.108053,49907.747367,49935.135891,49982.465002,50033.771901,50046.486487,49713.514206,49978.511632
2021-02-24 07:00:00,49974.235438,50030.400520,49996.280196,49994.271641,49944.963422,50034.858944,49959.624169,50032.963471,49861.581152,49899.138736,49680.100000
2021-02-24 08:00:00,50594.394449,50482.659430,50552.860398,50545.216768,50600.265267,50476.882959,50541.090694,50587.218865,50559.886413,50629.718533,50144.205464
2021-02-24 09:00:00,50902.708746,51005.570586,50934.152165,50987.736822,51014.427564,50901.639070,50901.001611,50947.529893,50842.080628,50887.439443,50884.023714
2021-02-24 10:00:00,50590.393464,50564.539463,50514.769692,50643.536208,50588.054390,50494.324252,50523.886721,50665.392921,50515.867452,50480.384254,50536.602041
2021-02-24 11:00:00,50480.338478,50556.759305,50505.688077,50523.501578,50500.795390,50446.875139,50498.455216,50556.416640,50475.338733,50494.052136,50474.184698
2021-02-24 12:00:00,50947.570599,50921.934715,50918.641498,50864.097845,50956.067366,50932.913060,50935.790979,50907.729530,50870.863408,50976.883072,51228.616364
2021-02-24 13:00:00,49893.768540,49953.170583,49827.035500,49743.211946,49790.028432,49750.219364,49811.472119,49839.742131,49783.077635,49701.256411,49681.734856
2021-02-24 14:00:00,49236.200293,49345.871820,49274.408306,49223.085281,49260.066525,49282.042100,49293.346463,49311.928912,49251.723838,49233.188583,49266.087850
2021-02-24 15:00:00,49221.752536,49288.106394,49324.913761,49217.787308,49062.979123,49249.513262,49224.856517,49280.555708,49258.306863,49011.131584,48785.145928
2021-02-24 16:00:00,49757.699345,49824.679690,49755.518204,49749.960860,49749.262596,49720.094217,49748.948299,49805.936932,49765.878311,49734.684912,49645.483600
2021-02-24 17:00:00,49847.050543,49817.802710,49845.112441,49842.350098,49815.871953,49843.673337,49813.534998,49786.375155,49808.544722,49788.338504,49714.249704
2021-02-24 18:00:00,49838.075835,49797.709996,49796.547791,49813.098122,49791.772547,49796.550879,49790.606855,49797.741514,49795.325779,49795.622560,49602.439024
2021-02-24 19:00:00,49337.141714,49343.114456,49317.071732,49230.388097,49411.327848,49204.725466,49259.860732,49257.819346,49355.109623,49214.864132,49191.600563
2021-02-24 20:00:00,48927.907365,48851.209268,48952.608092,48964.871226,48880.346896,48952.988324,48922.873467,48907.006080,48906.476335,48895.911947,48991.421225
2021-02-24 21:00:00,48509.784282,48451.587572,48518.462038,48499.380608,48526.432824,48526.697204,48476.878211,48486.392268,48485.980606,48440.911774,48404.532367
2021-02-24 22:00:00,48580.633397,48543.495588,48645.530586,48540.346388,48497.261357,48650.565402,48579.180689,48566.458228,48549.925443,48531.103989,48270.598647
2021-02-24 23:00:00,49504.553952,49568.860668,49423.471087,49459.905292,49493.097791,49457.500518,49428.972903,49488.224862,49399.630134,49385.749440,49610.564199

- *Etape 2* : Calcul du Global VWAP horaire

In [162]:
# Dictionnaire pour stocker les DataFrames agrégés avec les sommes nécessaires pour le calcul du VWAP global
global_vwap_dataframes = {}

for df, suffix in zip(dataframes, suffixes):
    hourly_data = df.resample('H').agg({
        f'PjQj_{suffix}': 'sum',
        f'amount_{suffix}': 'sum'
    })

    # Calcul du VWAP pour chaque heure et stockage des sommes nécessaires pour le VWAP global
    hourly_data[f'VWAP_{suffix}'] = hourly_data[f'PjQj_{suffix}'] / hourly_data[f'amount_{suffix}']
    global_vwap_dataframes[suffix] = hourly_data[[f'PjQj_{suffix}', f'amount_{suffix}']]

# Création d'un seul DataFrame à partir du dictionnaire
combined_hourly_df = pd.concat(global_vwap_dataframes.values(), axis=1, keys=suffixes)

# Calcul du VWAP global en utilisant les sommes des Pj*Qj et des montants de tous les exchanges
combined_hourly_df['Global_PjQj'] = combined_hourly_df.apply(lambda row: sum(row[x][f'PjQj_{x}'] for x in suffixes), axis=1)
combined_hourly_df['Global_amount'] = combined_hourly_df.apply(lambda row: sum(row[x][f'amount_{x}'] for x in suffixes), axis=1)
combined_hourly_df['Global_VWAP'] = combined_hourly_df['Global_PjQj'] / combined_hourly_df['Global_amount']

# Affichage des résultats : ce DataGrame contient plus qu'une colonne, on traite ce 'problème' juste après
print("Combined Hourly Global VWAP DataFrame:")
print(combined_hourly_df[['Global_VWAP']].head())

C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\3215629165.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').agg({
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\3215629165.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').agg({
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\3215629165.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').agg({
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\3215629165.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').agg({
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\3215629165.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').agg({
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\3215629165.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').agg({
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\3215629165.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').agg({
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\3215629165.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').agg({
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\3215629165.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').agg({
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\3215629165.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').agg({
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\3215629165.py:5: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_data = df.resample('H').agg({

Combined Hourly Global VWAP DataFrame:
                      Global_VWAP

2021-02-24 00:00:00  47882.875855
2021-02-24 01:00:00  49313.367516
2021-02-24 02:00:00  50244.173361
2021-02-24 03:00:00  50513.865126
2021-02-24 04:00:00  50927.853964

In [163]:
combined_hourly_df = combined_hourly_df.iloc[:, -1] # pour extraire seulement la dernière colonne du dataframe crée
combined_hourly_df

2021-02-24 00:00:00    47882.875855
2021-02-24 01:00:00    49313.367516
2021-02-24 02:00:00    50244.173361
2021-02-24 03:00:00    50513.865126
2021-02-24 04:00:00    50927.853964
2021-02-24 05:00:00    50455.606779
2021-02-24 06:00:00    49913.410442
2021-02-24 07:00:00    49962.539691
2021-02-24 08:00:00    50578.670027
2021-02-24 09:00:00    50911.780055
2021-02-24 10:00:00    50534.981344
2021-02-24 11:00:00    50499.325621
2021-02-24 12:00:00    50934.165511
2021-02-24 13:00:00    49799.740010
2021-02-24 14:00:00    49263.846728
2021-02-24 15:00:00    49203.580042
2021-02-24 16:00:00    49750.267318
2021-02-24 17:00:00    49822.593362
2021-02-24 18:00:00    49798.923013
2021-02-24 19:00:00    49268.924507
2021-02-24 20:00:00    48929.224304
2021-02-24 21:00:00    48487.345486
2021-02-24 22:00:00    48574.602199
2021-02-24 23:00:00    49438.250657
Freq: h, Name: (Global_VWAP, ), dtype: float64

In [164]:
combined_hourly_df.info() # attention ici nous avons une serie, ils faut la transformer avant de pouvoir la concaténer
combined_global_vwap = combined_hourly_df.to_frame(name = 'global') # transformation de la serie en dataframe
combined_global_vwap # on l'affiche pour vérifier que la modification a bien eu lieu

<class 'pandas.core.series.Series'>
DatetimeIndex: 24 entries, 2021-02-24 00:00:00 to 2021-02-24 23:00:00
Freq: h
Series name: ('Global_VWAP', '')
Non-Null Count  Dtype
--------------  -----
24 non-null     float64
dtypes: float64(1)
memory usage: 384.0 bytes

                           global
2021-02-24 00:00:00  47882.875855
2021-02-24 01:00:00  49313.367516
2021-02-24 02:00:00  50244.173361
2021-02-24 03:00:00  50513.865126
2021-02-24 04:00:00  50927.853964
2021-02-24 05:00:00  50455.606779
2021-02-24 06:00:00  49913.410442
2021-02-24 07:00:00  49962.539691
2021-02-24 08:00:00  50578.670027
2021-02-24 09:00:00  50911.780055
2021-02-24 10:00:00  50534.981344
2021-02-24 11:00:00  50499.325621
2021-02-24 12:00:00  50934.165511
2021-02-24 13:00:00  49799.740010
2021-02-24 14:00:00  49263.846728
2021-02-24 15:00:00  49203.580042
2021-02-24 16:00:00  49750.267318
2021-02-24 17:00:00  49822.593362
2021-02-24 18:00:00  49798.923013
2021-02-24 19:00:00  49268.924507
2021-02-24 20:00:00  48929.224304
2021-02-24 21:00:00  48487.345486
2021-02-24 22:00:00  48574.602199
2021-02-24 23:00:00  49438.250657

- *Etape 3* : **Concaténation des dataframes**

In [165]:
mean_per_hour_vwap = pd.concat([combined_hourly_vwap_df, combined_global_vwap], axis=1)
mean_per_hour_vwap
# ce DataFrame contient une valeur NaN qui dans ce contexte pourrait correspondre
# à une horaire de fermeture de l'exchange bfly à 5h du matin

,VWAP_stmp,VWAP_okcn,VWAP_lmax,VWAP_krkn,VWAP_itbi,VWAP_gmni,VWAP_cbse,VWAP_btrx,VWAP_bnus,VWAP_bfnx,VWAP_bfly,global
2021-02-24 00:00:00,47944.262770,47954.733900,47880.958914,47698.307100,47772.255562,47981.711507,47945.341624,47861.252787,47846.763010,47778.970482,48006.990396,47882.875855
2021-02-24 01:00:00,49220.299732,49422.816196,49250.834067,49179.026877,49509.699420,49458.079101,49317.201370,49343.265805,49196.187346,49441.592938,49607.923645,49313.367516
2021-02-24 02:00:00,50283.555918,50218.786802,50227.852912,50214.502350,50260.294897,50268.259968,50248.894775,50264.128120,50200.414314,50237.005036,50196.677303,50244.173361
2021-02-24 03:00:00,50472.637817,50435.243773,50458.462794,50537.044841,50533.802903,50494.398639,50498.142558,50528.684300,50523.291435,50608.443325,50948.000000,50513.865126
2021-02-24 04:00:00,50987.941708,51023.204299,50851.638004,50917.060833,51019.753640,50934.953286,50942.646520,50914.284328,50900.796481,50889.743300,50892.806229,50927.853964
2021-02-24 05:00:00,50440.124897,50399.457611,50473.959563,50421.092041,50416.281591,50528.602570,50513.989242,50537.358940,50383.987434,50344.152274,NaN,50455.606779
2021-02-24 06:00:00,49939.781897,49940.207735,50061.808328,49916.108053,49907.747367,49935.135891,49982.465002,50033.771901,50046.486487,49713.514206,49978.511632,49913.410442
2021-02-24 07:00:00,49974.235438,50030.400520,49996.280196,49994.271641,49944.963422,50034.858944,49959.624169,50032.963471,49861.581152,49899.138736,49680.100000,49962.539691
2021-02-24 08:00:00,50594.394449,50482.659430,50552.860398,50545.216768,50600.265267,50476.882959,50541.090694,50587.218865,50559.886413,50629.718533,50144.205464,50578.670027
2021-02-24 09:00:00,50902.708746,51005.570586,50934.152165,50987.736822,51014.427564,50901.639070,50901.001611,50947.529893,50842.080628,50887.439443,50884.023714,50911.780055
2021-02-24 10:00:00,50590.393464,50564.539463,50514.769692,50643.536208,50588.054390,50494.324252,50523.886721,50665.392921,50515.867452,50480.384254,50536.602041,50534.981344
2021-02-24 11:00:00,50480.338478,50556.759305,50505.688077,50523.501578,50500.795390,50446.875139,50498.455216,50556.416640,50475.338733,50494.052136,50474.184698,50499.325621
2021-02-24 12:00:00,50947.570599,50921.934715,50918.641498,50864.097845,50956.067366,50932.913060,50935.790979,50907.729530,50870.863408,50976.883072,51228.616364,50934.165511
2021-02-24 13:00:00,49893.768540,49953.170583,49827.035500,49743.211946,49790.028432,49750.219364,49811.472119,49839.742131,49783.077635,49701.256411,49681.734856,49799.740010
2021-02-24 14:00:00,49236.200293,49345.871820,49274.408306,49223.085281,49260.066525,49282.042100,49293.346463,49311.928912,49251.723838,49233.188583,49266.087850,49263.846728
2021-02-24 15:00:00,49221.752536,49288.106394,49324.913761,49217.787308,49062.979123,49249.513262,49224.856517,49280.555708,49258.306863,49011.131584,48785.145928,49203.580042
2021-02-24 16:00:00,49757.699345,49824.679690,49755.518204,49749.960860,49749.262596,49720.094217,49748.948299,49805.936932,49765.878311,49734.684912,49645.483600,49750.267318
2021-02-24 17:00:00,49847.050543,49817.802710,49845.112441,49842.350098,49815.871953,49843.673337,49813.534998,49786.375155,49808.544722,49788.338504,49714.249704,49822.593362
2021-02-24 18:00:00,49838.075835,49797.709996,49796.547791,49813.098122,49791.772547,49796.550879,49790.606855,49797.741514,49795.325779,49795.622560,49602.439024,49798.923013
2021-02-24 19:00:00,49337.141714,49343.114456,49317.071732,49230.388097,49411.327848,49204.725466,49259.860732,49257.819346,49355.109623,49214.864132,49191.600563,49268.924507
2021-02-24 20:00:00,48927.907365,48851.209268,48952.608092,48964.871226,48880.346896,48952.988324,48922.873467,48907.006080,48906.476335,48895.911947,48991.421225,48929.224304
2021-02-24 21:00:00,48509.784282,48451.587572,48518.462038,48499.380608,48526.432824,48526.697204,48476.878211,48486.392268,48485.980606,48440.911774,48404.532367,48487.345486
2021-02-24 22:00:00,48580.633397,48543.495588,48645.530586,48540.346388,48497.261357,48650.565402,48579.180689,48566.458228,48549.925443,48531.103989,48270.598647,48574.602199
2021-02-24 23:00:00,49504.553952,49568.860668,49423.471087,49459.905292,49493.097791,49457.500518,49428.972903,49488.224862,49399.630134,49385.749440,49610.564199,49438.250657

*Etape 4* : **Enregistrement du DataFrame final en fichier CSV**

In [166]:
mean_per_hour_vwap.to_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/mean_per_hour_vwap.csv', sep=',' ,index=True)

**POUR ALLER PLUS LOIN**

In [88]:
%pip install numpy

Requirement already satisfied: numpy in c:\users\youmn\appdata\local\programs\python\python311\lib\site-packages (1.26.4)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [89]:
import numpy as np

*La Médiane Pondérée des Prix (VWMP)*

- Manipulation des Données

*Chargement des données*

In [137]:
# Lire les fichiers csv

df1 = pd.read_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/stmp.csv')
df2 = pd.read_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/okcn.csv')
df3 = pd.read_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/lmax.csv')
df4 = pd.read_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/krkn.csv')
df5 = pd.read_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/itbi.csv')
df6 = pd.read_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/gmni.csv')
df7 = pd.read_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/cbse.csv')
df8 = pd.read_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/btrx.csv')
df9 = pd.read_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/bnus.csv')
df10 = pd.read_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/bfnx.csv')
df11 = pd.read_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/bfly.csv')

 *Etape 1 :* Pour manipuler de nouveaux les données afin d'obtenir la médiane, il nous faut recharger les dataframes df1 à df11 qui est au début du script Python. Pour ne pas alourdir le script Python, j'ai fait le choix de ne pas remettre l'ensemble des cellules chargeant les dataframes df1 à df11. Cependant, il est nécessaire de les recharger pour poursuivre le calcul de la médiane pondérée.

In [138]:
dataframes = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11]
suffixes = ["stmp", "okcn", "lmax", "krkn", "itbi", "gmni", "cbse", "btrx", "bnus", "bfnx", "bfly"]

# Renommage des colonnes pour chaque DataFrame
for df, suffix in zip(dataframes, suffixes):
    df.rename(columns={
        'timestamp': f'timestamp_{suffix}',
        'price': f'price_{suffix}',
        'amount': f'amount_{suffix}'
    }, inplace=True)

# Conversion du format de la colonne 'timestamp_{suffix}' en datetime
    df[f'timestamp_{suffix}'] = pd.to_datetime(df[f'timestamp_{suffix}'])

# Verification des Modifications sur l'ensemble des DataFrames
for df in dataframes:
    print(df.columns) # affiche les noms de colonnes
    print(df.info()) # affiche des informations détaillées, y compris les
    # types de chaque colonnes (surtout pour la colonne des dates)

Index(['timestamp_stmp', 'price_stmp', 'amount_stmp'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53284 entries, 0 to 53283
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp_stmp  53284 non-null  datetime64[ns]
 1   price_stmp      53284 non-null  float64
 2   amount_stmp     53284 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 1.2 MB
None
Index(['timestamp_okcn', 'price_okcn', 'amount_okcn'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12459 entries, 0 to 12458
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp_okcn  12459 non-null  datetime64[ns]
 1   price_okcn      12459 non-null  float64
 2   amount_okcn     12459 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 292.1 KB
None
Index(['timestamp_lmax', 'price_lmax', 'amount_lmax'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27972 entries, 0 to 27971
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp_lmax  27972 non-null  datetime64[ns]
 1   price_lmax      27972 non-null  float64
 2   amount_lmax     27972 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 655.7 KB
None
Index(['timestamp_krkn', 'price_krkn', 'amount_krkn'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75090 entries, 0 to 75089
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp_krkn  75090 non-null  datetime64[ns]
 1   price_krkn      75090 non-null  float64
 2   amount_krkn     75090 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 1.7 MB
None
Index(['timestamp_itbi', 'price_itbi', 'amount_itbi'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30187 entries, 0 to 30186
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp_itbi  30187 non-null  datetime64[ns]
 1   price_itbi      30187 non-null  float64
 2   amount_itbi     30187 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 707.6 KB
None
Index(['timestamp_gmni', 'price_gmni', 'amount_gmni'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49329 entries, 0 to 49328
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp_gmni  49329 non-null  datetime64[ns]
 1   price_gmni      49329 non-null  float64
 2   amount_gmni     49329 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 1.1 MB
None
Index(['timestamp_cbse', 'price_cbse', 'amount_cbse'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489110 entries, 0 to 489109
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   timestamp_cbse  489110 non-null  datetime64[ns]
 1   price_cbse      489110 non-null  float64
 2   amount_cbse     489110 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 11.2 MB
None
Index(['timestamp_btrx', 'price_btrx', 'amount_btrx'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26789 entries, 0 to 26788
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp_btrx  26789 non-null  datetime64[ns]
 1   price_btrx      26789 non-null  float64
 2   amount_btrx     26789 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 628.0 KB
None
Index(['timestamp_bnus', 'price_bnus', 'amount_bnus'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53672 entries, 0 to 53671
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp_bnus  53672 non-null  datetime64[ns]
 1   price_bnus      53672 non-null  float64
 2   amount_bnus     53672 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 1.2 MB
None
Index(['timestamp_bfnx', 'price_bfnx', 'amount_bfnx'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 318667 entries, 0 to 318666
Data columns (total 3 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   timestamp_bfnx  318667 non-null  datetime64[ns]
 1   price_bfnx      318667 non-null  float64
 2   amount_bfnx     318667 non-null  float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 7.3 MB
None
Index(['timestamp_bfly', 'price_bfly', 'amount_bfly'], dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   timestamp_bfly  234 non-null    datetime64[ns]
 1   price_bfly      234 non-null    float64
 2   amount_bfly     234 non-null    float64
dtypes: datetime64[ns](1), float64(2)
memory usage: 5.6 KB
None

*Étape 2* : trier les Dataframes par ordre croissant

In [139]:
dataframes = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11]
sorted_dataframes = []

for df, suffix in zip(dataframes, suffixes):
    # Trier chaque DataFrame par la colonne 'price_{suffix}' en ordre croissant
    sorted_df = df.sort_values(by=f'price_{suffix}', ascending=True)
    sorted_dataframes.append(sorted_df)

    # Afficher le DataFrame trié pour vérification
    print(sorted_df[[f'timestamp_{suffix}', f'price_{suffix}', f'amount_{suffix}']])

           timestamp_stmp  price_stmp  amount_stmp
52167 2021-02-24 00:24:01    47000.00     0.022992
52173 2021-02-24 00:24:01    47000.00     0.004465
52172 2021-02-24 00:24:01    47000.00     0.095535
52171 2021-02-24 00:24:01    47000.00     0.023876
52170 2021-02-24 00:24:01    47000.00     0.041919
...                   ...         ...          ...
43509 2021-02-24 04:10:49    51443.56     0.649080
43508 2021-02-24 04:10:49    51444.44     0.250000
43507 2021-02-24 04:10:49    51445.20     0.117389
43506 2021-02-24 04:10:49    51450.00     0.250000
43505 2021-02-24 04:10:49    51459.51     0.267540

[53284 rows x 3 columns]
               timestamp_okcn  price_okcn  amount_okcn
12083 2021-02-24 00:24:02.329    47012.76       0.0004
12081 2021-02-24 00:24:02.555    47018.05       0.0025
12082 2021-02-24 00:24:02.329    47019.09       0.0446
12084 2021-02-24 00:23:59.467    47022.11       0.0010
12085 2021-02-24 00:23:59.455    47030.00       0.0920
...                       ...         ...          ...
7669  2021-02-24 09:44:12.023    51391.13       0.0029
7666  2021-02-24 09:44:18.451    51401.07       0.1900
7665  2021-02-24 09:44:18.476    51401.08       0.1994
7668  2021-02-24 09:44:14.645    51411.35       0.0015
7667  2021-02-24 09:44:14.645    51432.06       0.0003

[12459 rows x 3 columns]
               timestamp_lmax  price_lmax  amount_lmax
27094 2021-02-24 00:24:00.923   46918.718         0.32
27091 2021-02-24 00:24:00.923   46921.187         0.03
27092 2021-02-24 00:24:00.923   46922.798         0.02
27093 2021-02-24 00:24:00.923   46961.250         0.05
27051 2021-02-24 00:24:33.799   47000.750         0.01
...                       ...         ...          ...
17044 2021-02-24 09:44:18.394   51394.000         0.30
22732 2021-02-24 04:15:23.585   51394.000         0.05
22731 2021-02-24 04:15:25.604   51395.500         0.13
22730 2021-02-24 04:15:26.294   51409.000         0.01
17045 2021-02-24 09:44:13.225   51449.500         0.08

[27972 rows x 3 columns]
               timestamp_krkn  price_krkn  amount_krkn
72630 2021-02-24 00:27:58.607     47015.7     0.024577
72629 2021-02-24 00:27:58.609     47015.7     0.000423
72634 2021-02-24 00:27:54.453     47027.0     0.009744
72631 2021-02-24 00:27:56.023     47027.2     0.002391
72633 2021-02-24 00:27:55.017     47027.2     0.021413
...                       ...         ...          ...
41675 2021-02-24 09:44:12.613     51432.5     0.562790
41666 2021-02-24 09:44:18.524     51441.0     0.023100
41667 2021-02-24 09:44:18.522     51441.1     0.000105
41668 2021-02-24 09:44:18.489     51441.1     0.022995
41669 2021-02-24 09:44:18.427     51442.5     0.010550

[75090 rows x 3 columns]
               timestamp_itbi  price_itbi  amount_itbi
29348 2021-02-24 00:27:57.267    47022.00     0.000725
29349 2021-02-24 00:27:57.267    47022.25     0.013198
29500 2021-02-24 00:24:02.533    47022.75     0.004274
29499 2021-02-24 00:24:03.090    47025.50     0.110000
29350 2021-02-24 00:27:57.263    47027.50     0.015000
...                       ...         ...          ...
18807 2021-02-24 09:44:18.613    51397.00     0.050000
18806 2021-02-24 09:44:18.620    51397.00     0.077826
18805 2021-02-24 09:44:18.627    51397.00     0.058369
18808 2021-02-24 09:44:18.613    51397.00     0.050000
18809 2021-02-24 09:44:16.900    51397.00     0.000235

[30187 rows x 3 columns]
               timestamp_gmni  price_gmni   amount_gmni
47894 2021-02-24 00:24:13.173    47000.01  3.850460e-03
47678 2021-02-24 00:27:55.000    47000.12  6.300000e-07
47676 2021-02-24 00:27:55.704    47000.65  8.900000e-07
47677 2021-02-24 00:27:55.564    47000.65  6.578000e-02
47675 2021-02-24 00:27:55.704    47012.75  5.034911e-02
...                       ...         ...           ...
30315 2021-02-24 09:44:14.462    51429.61  9.722000e-04
30314 2021-02-24 09:44:14.462    51434.03  1.000000e-01
30313 2021-02-24 09:44:14.462    51438.86  5.257532e-02
30312 2021-02-24 09:44:14.462    51441.64  4.705600e-04
30311 2021-02-24 09:44:14.462    51442.01  6.067880e-03

[49329 rows x 3 columns]
                timestamp_cbse  price_cbse  amount_cbse
474760 2021-02-24 00:24:00.266    47002.00     0.001110
474761 2021-02-24 00:24:00.266    47002.00     0.002542
474572 2021-02-24 00:24:14.467    47002.01     0.092171
474754 2021-02-24 00:24:00.957    47002.99     0.003296
474762 2021-02-24 00:24:00.266    47005.00     0.100000
...                        ...         ...          ...
270847 2021-02-24 09:44:18.347    51412.79     0.599958
270850 2021-02-24 09:44:18.347    51414.95     0.032120
270849 2021-02-24 09:44:18.347    51414.95     0.230000
270848 2021-02-24 09:44:18.347    51414.95     0.069531
270851 2021-02-24 09:44:18.290    51415.41     0.000443

[489110 rows x 3 columns]
               timestamp_btrx  price_btrx  amount_btrx
25796 2021-02-24 00:24:47.140   46958.220     0.018400
25801 2021-02-24 00:24:47.100   46999.990     0.024520
25802 2021-02-24 00:24:47.080   46999.990     0.060000
25805 2021-02-24 00:24:47.050   46999.990     0.025879
25800 2021-02-24 00:24:47.110   46999.990     0.003356
...                       ...         ...          ...
13795 2021-02-24 09:44:21.140   51408.635     0.015089
13796 2021-02-24 09:44:21.130   51408.635     0.010502
13797 2021-02-24 09:44:21.110   51408.635     0.058511
13798 2021-02-24 09:44:21.090   51408.635     0.002146
13799 2021-02-24 09:44:19.860   51408.635     0.001941

[26789 rows x 3 columns]
               timestamp_bnus  price_bnus  amount_bnus
52164 2021-02-24 00:24:00.079    47001.88     0.001500
52161 2021-02-24 00:24:02.066    47002.99     0.016306
52160 2021-02-24 00:24:02.066    47003.00     0.008739
52162 2021-02-24 00:24:00.597    47003.00     0.000838
52163 2021-02-24 00:24:00.170    47003.00     0.000423
...                       ...         ...          ...
41845 2021-02-24 04:15:27.731    51399.11     0.001201
31235 2021-02-24 09:44:12.679    51399.98     0.051528
31234 2021-02-24 09:44:16.669    51400.07     0.000245
31232 2021-02-24 09:44:17.667    51402.65     0.004041
31231 2021-02-24 09:44:18.109    51402.65     0.003915

[53672 rows x 3 columns]
                timestamp_bfnx    price_bfnx  amount_bfnx
307137 2021-02-24 00:23:59.024  46902.000000     0.232824
307138 2021-02-24 00:23:59.024  46902.000000     0.000220
307139 2021-02-24 00:23:59.024  46902.230100     0.000220
307140 2021-02-24 00:23:59.024  46903.000000     0.000220
307141 2021-02-24 00:23:59.024  46903.616184     0.212520
...                        ...           ...          ...
246159 2021-02-24 04:15:31.797  51353.499778     0.000200
246158 2021-02-24 04:15:31.797  51354.000000     0.000200
246157 2021-02-24 04:15:31.797  51354.221146     0.000200
246156 2021-02-24 04:15:31.797  51354.447609     0.000200
246155 2021-02-24 04:15:31.797  51354.461371     0.000044

[318667 rows x 3 columns]
             timestamp_bfly  price_bfly  amount_bfly
218 2021-02-24 00:23:59.760    47086.89       0.0212
217 2021-02-24 00:24:52.413    47153.51       0.0100
219 2021-02-24 00:23:58.390    47200.30       0.0500
216 2021-02-24 00:25:10.703    47247.61       0.0600
215 2021-02-24 00:29:57.847    47300.60       0.0110
..                      ...         ...          ...
182 2021-02-24 03:57:04.037    50948.00       0.2500
181 2021-02-24 04:03:39.413    51014.38       0.2503
180 2021-02-24 04:03:39.413    51025.46       0.1697
144 2021-02-24 12:26:34.133    51078.18       0.0010
143 2021-02-24 12:37:30.900    51229.87       0.1200

[234 rows x 3 columns]

In [125]:
# il nous faut créer une fonction à partir des explications
# du site web Wikipédia

def weighted_median(data, weights):
    # Assurez-vous que les données et les poids sont des tableaux numpy
    data, weights = np.array(data), np.array(weights)
    # Tri des données et des poids selon les valeurs des données
    sorted_indices = np.argsort(data)
    sorted_data = data[sorted_indices]
    sorted_weights = weights[sorted_indices]
    # Calcul de la somme cumulée des poids
    cumulative_weights = np.cumsum(sorted_weights)
    # Calcul de la médiane
    cutoff = cumulative_weights[-1] / 2.0
    # Retourne la valeur de la médiane pondérée
    return sorted_data[cumulative_weights >= cutoff][0]

# Application de la fonction sur l'ensemble des dataframes triés
for df, suffix in zip(sorted_dataframes, suffixes):
    median_price = weighted_median(df[f'price_{suffix}'], df[f'amount_{suffix}'])
    print(f"Weighted median for {suffix}: {median_price}")

# on a affiché les médianes pondérées pour chaque exchange

Weighted median for stmp: 49920.0
Weighted median for okcn: 49805.11
Weighted median for lmax: 49813.5
Weighted median for krkn: 49704.0
Weighted median for itbi: 49757.75
Weighted median for gmni: 49677.63
Weighted median for cbse: 49724.85
Weighted median for btrx: 49833.163
Weighted median for bnus: 49734.53
Weighted median for bfnx: 49900.0
Weighted median for bfly: 49286.4

*Étape 3* : **Calcul de la Médiane Pondérée par heure pour chaque exchange**

In [140]:

# Définition de la fonction de médiane pondérée à partir des explications du site web Wikipédia

def weighted_median(data, weights):
    data, weights = np.array(data), np.array(weights)
    if len(data) == 0: #si on a pas de données à traiter sur une heure donnée
        return np.nan  # Retourne NaN si les données sont vides
    sorted_indices = np.argsort(data)
    sorted_data = data[sorted_indices]
    sorted_weights = weights[sorted_indices]
    cumulative_weights = np.cumsum(sorted_weights)
    cutoff = cumulative_weights[-1] / 2.0
    return sorted_data[cumulative_weights >= cutoff][0]

# Chargement des données et traitement initial
dataframes = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11]
suffixes = ["stmp", "okcn", "lmax", "krkn", "itbi", "gmni", "cbse", "btrx", "bnus", "bfnx", "bfly"]
hourly_medians = {} # on crée un dictionnaire vide pour stocker les résultats

for df, suffix in zip(dataframes, suffixes):
    df.set_index(f'timestamp_{suffix}', inplace=True) # on indexe par les dates
    df.sort_values(by=f'price_{suffix}', inplace=True)
    # Calcul de la médiane pondérée pour chaque heure
    hourly_median = df.resample('H').apply(lambda x: weighted_median(x[f'price_{suffix}'], x[f'amount_{suffix}'])) # agrégation des données pour
    # le calcul du VWMP
    hourly_medians[suffix] = hourly_median.to_frame(name=f'Weighted_Median_{suffix}') # on transforme en dataframe

# Combinaison de tous les DataFrames en un seul pour faciliter l'analyse
combined_median_df = pd.concat(hourly_medians.values(), axis=1)

# Afficher le DataFrame combiné
print(combined_median_df)

C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\914311783.py:22: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_median = df.resample('H').apply(lambda x: weighted_median(x[f'price_{suffix}'], x[f'amount_{suffix}']))
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\914311783.py:22: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_median = df.resample('H').apply(lambda x: weighted_median(x[f'price_{suffix}'], x[f'amount_{suffix}']))
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\914311783.py:22: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_median = df.resample('H').apply(lambda x: weighted_median(x[f'price_{suffix}'], x[f'amount_{suffix}']))
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\914311783.py:22: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_median = df.resample('H').apply(lambda x: weighted_median(x[f'price_{suffix}'], x[f'amount_{suffix}']))
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\914311783.py:22: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_median = df.resample('H').apply(lambda x: weighted_median(x[f'price_{suffix}'], x[f'amount_{suffix}']))
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\914311783.py:22: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_median = df.resample('H').apply(lambda x: weighted_median(x[f'price_{suffix}'], x[f'amount_{suffix}']))
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\914311783.py:22: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_median = df.resample('H').apply(lambda x: weighted_median(x[f'price_{suffix}'], x[f'amount_{suffix}']))
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\914311783.py:22: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_median = df.resample('H').apply(lambda x: weighted_median(x[f'price_{suffix}'], x[f'amount_{suffix}']))
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\914311783.py:22: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_median = df.resample('H').apply(lambda x: weighted_median(x[f'price_{suffix}'], x[f'amount_{suffix}']))
C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\914311783.py:22: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_median = df.resample('H').apply(lambda x: weighted_median(x[f'price_{suffix}'], x[f'amount_{suffix}']))

                     Weighted_Median_stmp  Weighted_Median_okcn  \
2021-02-24 00:00:00              47793.14              48000.00
2021-02-24 01:00:00              49015.13              49664.52
2021-02-24 02:00:00              50314.35              50258.32
2021-02-24 03:00:00              50418.26              50380.46
2021-02-24 04:00:00              51000.00              51112.25
2021-02-24 05:00:00              50392.27              50373.25
2021-02-24 06:00:00              49898.33              49897.29
2021-02-24 07:00:00              50000.00              50079.32
2021-02-24 08:00:00              50639.44              50546.01
2021-02-24 09:00:00              50906.57              50950.76
2021-02-24 10:00:00              50569.14              50581.13
2021-02-24 11:00:00              50432.15              50522.39
2021-02-24 12:00:00              50981.07              50993.66
2021-02-24 13:00:00              49708.31              49763.60
2021-02-24 14:00:00              49186.14              49407.45
2021-02-24 15:00:00              49286.75              49460.17
2021-02-24 16:00:00              49750.00              49820.46
2021-02-24 17:00:00              49864.68              49814.92
2021-02-24 18:00:00              49854.00              49748.74
2021-02-24 19:00:00              49423.76              49433.99
2021-02-24 20:00:00              48911.70              48800.00
2021-02-24 21:00:00              48431.84              48421.78
2021-02-24 22:00:00              48635.04              48558.78
2021-02-24 23:00:00              49549.69              49665.86

                     Weighted_Median_lmax  Weighted_Median_krkn  \
2021-02-24 00:00:00              47729.00               47656.7
2021-02-24 01:00:00              49192.00               49073.7
2021-02-24 02:00:00              50280.00               50204.5
2021-02-24 03:00:00              50382.50               50450.0
2021-02-24 04:00:00              50838.00               50938.6
2021-02-24 05:00:00              50360.50               50360.5
2021-02-24 06:00:00              50024.50               49828.9
2021-02-24 07:00:00              50040.50               50025.0
2021-02-24 08:00:00              50632.50               50638.3
2021-02-24 09:00:00              50914.50               50971.1
2021-02-24 10:00:00              50506.50               50599.9
2021-02-24 11:00:00              50453.00               50489.5
2021-02-24 12:00:00              50934.50               50870.0
2021-02-24 13:00:00              49702.50               49699.0
2021-02-24 14:00:00              49232.25               49235.7
2021-02-24 15:00:00              49470.00               49225.0
2021-02-24 16:00:00              49750.00               49731.4
2021-02-24 17:00:00              49848.50               49869.4
2021-02-24 18:00:00              49794.30               49810.6
2021-02-24 19:00:00              49418.00               49134.2
2021-02-24 20:00:00              48951.00               49009.4
2021-02-24 21:00:00              48433.00               48433.6
2021-02-24 22:00:00              48697.50               48505.5
2021-02-24 23:00:00              49396.00               49448.3

                     Weighted_Median_itbi  Weighted_Median_gmni  \
2021-02-24 00:00:00              47683.00              47772.26
2021-02-24 01:00:00              49700.00              49554.52
2021-02-24 02:00:00              50269.25              50293.38
2021-02-24 03:00:00              50430.00              50481.51
2021-02-24 04:00:00              51012.00              50983.79
2021-02-24 05:00:00              50356.25              50427.81
2021-02-24 06:00:00              49780.00              49861.90
2021-02-24 07:00:00              49934.25              50066.06
2021-02-24 08:00:00              50642.50              50507.78
2021-02-24 09:00:00              51134.50              50905.00
2021-02-24 10:00:00              50589.25              50501.05
2021-02-24 11:00:00              50430.00              50415.25
2021-02-24 12:00:00              51028.00              50980.48
2021-02-24 13:00:00              49752.50              49710.62
2021-02-24 14:00:00              49245.25              49317.64
2021-02-24 15:00:00              48955.00              49389.86
2021-02-24 16:00:00              49735.50              49717.96
2021-02-24 17:00:00              49819.00              49856.74
2021-02-24 18:00:00              49784.25              49799.75
2021-02-24 19:00:00              49491.00              49131.51
2021-02-24 20:00:00              48858.00              48940.25
2021-02-24 21:00:00              48473.00              48449.13
2021-02-24 22:00:00              48442.75              48689.23
2021-02-24 23:00:00              49580.00              49439.37

                     Weighted_Median_cbse  Weighted_Median_btrx  \
2021-02-24 00:00:00              47780.38             47749.539
2021-02-24 01:00:00              49272.15             49273.600
2021-02-24 02:00:00              50277.77             50299.997
2021-02-24 03:00:00              50423.48             50488.858
2021-02-24 04:00:00              50980.71             50908.380
2021-02-24 05:00:00              50442.72             50500.000
2021-02-24 06:00:00              49900.00             49964.331
2021-02-24 07:00:00              49960.00             50039.763
2021-02-24 08:00:00              50608.58             50691.895
2021-02-24 09:00:00              50902.00             50962.021
2021-02-24 10:00:00              50505.15             50628.879
2021-02-24 11:00:00              50455.80             50552.920
2021-02-24 12:00:00              50962.74             50951.232
2021-02-24 13:00:00              49719.99             49700.675
2021-02-24 14:00:00              49302.59             49280.000
2021-02-24 15:00:00              49300.00             49324.826
2021-02-24 16:00:00              49750.00             49773.480
2021-02-24 17:00:00              49848.28             49800.000
2021-02-24 18:00:00              49786.68             49796.631
2021-02-24 19:00:00              49213.35             49162.200
2021-02-24 20:00:00              48914.35             48913.301
2021-02-24 21:00:00              48410.00             48432.061
2021-02-24 22:00:00              48596.48             48586.539
2021-02-24 23:00:00              49433.00             49501.189

                     Weighted_Median_bnus  Weighted_Median_bfnx  \
2021-02-24 00:00:00              47711.00          47627.000000
2021-02-24 01:00:00              49120.79          49562.000000
2021-02-24 02:00:00              50229.83          50256.000000
2021-02-24 03:00:00              50450.00          50674.000000
2021-02-24 04:00:00              50933.47          50906.000000
2021-02-24 05:00:00              50327.22          50291.000000
2021-02-24 06:00:00              50000.00          49631.046022
2021-02-24 07:00:00              49871.79          49913.000000
2021-02-24 08:00:00              50626.89          50659.000000
2021-02-24 09:00:00              50868.85          50853.460383
2021-02-24 10:00:00              50493.82          50449.656508
2021-02-24 11:00:00              50466.07          50488.000000
2021-02-24 12:00:00              50847.85          50975.000000
2021-02-24 13:00:00              49664.61          49656.000000
2021-02-24 14:00:00              49238.06          49250.000000
2021-02-24 15:00:00              49455.00          49016.000000
2021-02-24 16:00:00              49756.41          49735.000000
2021-02-24 17:00:00              49827.22          49826.000000
2021-02-24 18:00:00              49806.90          49784.000000
2021-02-24 19:00:00              49449.71          49127.000000
2021-02-24 20:00:00              48859.27          48898.316863
2021-02-24 21:00:00              48466.87          48400.000000
2021-02-24 22:00:00              48596.46          48645.000000
2021-02-24 23:00:00              49450.00          49412.000000

                     Weighted_Median_bfly
2021-02-24 00:00:00              48128.38
2021-02-24 01:00:00              49818.51
2021-02-24 02:00:00              50200.00
2021-02-24 03:00:00              50948.00
2021-02-24 04:00:00              51014.38
2021-02-24 05:00:00                   NaN
2021-02-24 06:00:00              50018.90
2021-02-24 07:00:00              49680.10
2021-02-24 08:00:00              49890.34
2021-02-24 09:00:00              50900.00
2021-02-24 10:00:00              50544.26
2021-02-24 11:00:00              50500.00
2021-02-24 12:00:00              51229.87
2021-02-24 13:00:00              49699.00
2021-02-24 14:00:00              49280.97
2021-02-24 15:00:00              48661.00
2021-02-24 16:00:00              49584.90
2021-02-24 17:00:00              49704.36
2021-02-24 18:00:00              49600.00
2021-02-24 19:00:00              48997.60
2021-02-24 20:00:00              48929.05
2021-02-24 21:00:00              48413.49
2021-02-24 22:00:00              48252.47
2021-02-24 23:00:00              49603.44

C:\Users\youmn\AppData\Local\Temp\ipykernel_19756\914311783.py:22: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  hourly_median = df.resample('H').apply(lambda x: weighted_median(x[f'price_{suffix}'], x[f'amount_{suffix}']))

In [141]:
combined_median_df

,Weighted_Median_stmp,Weighted_Median_okcn,Weighted_Median_lmax,Weighted_Median_krkn,Weighted_Median_itbi,Weighted_Median_gmni,Weighted_Median_cbse,Weighted_Median_btrx,Weighted_Median_bnus,Weighted_Median_bfnx,Weighted_Median_bfly
2021-02-24 00:00:00,47793.14,48000.00,47729.00,47656.7,47683.00,47772.26,47780.38,47749.539,47711.00,47627.000000,48128.38
2021-02-24 01:00:00,49015.13,49664.52,49192.00,49073.7,49700.00,49554.52,49272.15,49273.600,49120.79,49562.000000,49818.51
2021-02-24 02:00:00,50314.35,50258.32,50280.00,50204.5,50269.25,50293.38,50277.77,50299.997,50229.83,50256.000000,50200.00
2021-02-24 03:00:00,50418.26,50380.46,50382.50,50450.0,50430.00,50481.51,50423.48,50488.858,50450.00,50674.000000,50948.00
2021-02-24 04:00:00,51000.00,51112.25,50838.00,50938.6,51012.00,50983.79,50980.71,50908.380,50933.47,50906.000000,51014.38
2021-02-24 05:00:00,50392.27,50373.25,50360.50,50360.5,50356.25,50427.81,50442.72,50500.000,50327.22,50291.000000,NaN
2021-02-24 06:00:00,49898.33,49897.29,50024.50,49828.9,49780.00,49861.90,49900.00,49964.331,50000.00,49631.046022,50018.90
2021-02-24 07:00:00,50000.00,50079.32,50040.50,50025.0,49934.25,50066.06,49960.00,50039.763,49871.79,49913.000000,49680.10
2021-02-24 08:00:00,50639.44,50546.01,50632.50,50638.3,50642.50,50507.78,50608.58,50691.895,50626.89,50659.000000,49890.34
2021-02-24 09:00:00,50906.57,50950.76,50914.50,50971.1,51134.50,50905.00,50902.00,50962.021,50868.85,50853.460383,50900.00
2021-02-24 10:00:00,50569.14,50581.13,50506.50,50599.9,50589.25,50501.05,50505.15,50628.879,50493.82,50449.656508,50544.26
2021-02-24 11:00:00,50432.15,50522.39,50453.00,50489.5,50430.00,50415.25,50455.80,50552.920,50466.07,50488.000000,50500.00
2021-02-24 12:00:00,50981.07,50993.66,50934.50,50870.0,51028.00,50980.48,50962.74,50951.232,50847.85,50975.000000,51229.87
2021-02-24 13:00:00,49708.31,49763.60,49702.50,49699.0,49752.50,49710.62,49719.99,49700.675,49664.61,49656.000000,49699.00
2021-02-24 14:00:00,49186.14,49407.45,49232.25,49235.7,49245.25,49317.64,49302.59,49280.000,49238.06,49250.000000,49280.97
2021-02-24 15:00:00,49286.75,49460.17,49470.00,49225.0,48955.00,49389.86,49300.00,49324.826,49455.00,49016.000000,48661.00
2021-02-24 16:00:00,49750.00,49820.46,49750.00,49731.4,49735.50,49717.96,49750.00,49773.480,49756.41,49735.000000,49584.90
2021-02-24 17:00:00,49864.68,49814.92,49848.50,49869.4,49819.00,49856.74,49848.28,49800.000,49827.22,49826.000000,49704.36
2021-02-24 18:00:00,49854.00,49748.74,49794.30,49810.6,49784.25,49799.75,49786.68,49796.631,49806.90,49784.000000,49600.00
2021-02-24 19:00:00,49423.76,49433.99,49418.00,49134.2,49491.00,49131.51,49213.35,49162.200,49449.71,49127.000000,48997.60
2021-02-24 20:00:00,48911.70,48800.00,48951.00,49009.4,48858.00,48940.25,48914.35,48913.301,48859.27,48898.316863,48929.05
2021-02-24 21:00:00,48431.84,48421.78,48433.00,48433.6,48473.00,48449.13,48410.00,48432.061,48466.87,48400.000000,48413.49
2021-02-24 22:00:00,48635.04,48558.78,48697.50,48505.5,48442.75,48689.23,48596.48,48586.539,48596.46,48645.000000,48252.47
2021-02-24 23:00:00,49549.69,49665.86,49396.00,49448.3,49580.00,49439.37,49433.00,49501.189,49450.00,49412.000000,49603.44

*Etape 4* : **Enregistrement du DataFrame final en fichier CSV**

In [144]:
combined_median_df.to_csv('C:/Users/youmn/OneDrive/Bureau/FAC/Master 1/Formation/Python/data/combined_median_df.csv', sep=',' ,index=True)